* 
body {
    background-image: url(../images/about2.png);
    background-size: cover;
    background-origin: content-box, padding-box;
    background-position: center;
    background-repeat: no-repeat;
    align-items: center;
    letter-spacing: 1px;
    color: white;
    margin:0px;
   overflow-x: hidden;
}
.navbar{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    padding: 20px; 
    color: whitesmoke;
}
ul{
    float: right;
    list-style-type: none;
    margin-top: 25px;
    margin-right: 30px;;
}
ul li{
    display: inline-block;
}
ul li a{
    text-decoration: none;
      color: rgba(255, 255, 255, 0.733);
    padding: 5px 20px;
    border: none;
    border-radius: 5px;
    transition: 0.6s ease;
}
ul li a:hover{ 
    background-color: #fff;
    color: #000;
}
ul li.active a{
    background-color: #fff;
    color: #000;
}
.logo img{
    float: left;
    width: 120px;
    height: 80px;
    padding: 10px;
    margin-bottom: 50px;
    border: none;
}
.About {
    text-align: center;
}
.About1{
    text-align: center;
    margin: 60px 160px;
}
.About1TMP {
    text-align: start;
    text-shadow: rgb(252, 247, 230) 1px 0 10px;
    margin: 0 160px;
    
}
.AboutTMP {
text-align: start;
text-shadow: rgb(252, 246, 225) 1px 0 10px;
}
img {
    transition: transform .3s ease;
}
img:hover {
transform: scale(1.1)
}
.ctn:hover {
    background: whitesmoke;
    color: #fc036b;
    box-shadow: 2px 2px 5px black;
}
.line{
    width: 150px;
    height: 4px;
    background: #fc036b;
    margin: 10px auto;
    border-radius: 5px;
}
.footer {

    min-height: 100px;
    padding: 20px 80px;
    background: #080808c9;
    text-align: center;
    letter-spacing: 2px;
}
      table,th, td {
        width: 30%;
        text-align: center;
        padding: 10px 100px;;
        border-spacing: 3px;
       justify-content: space-evenly;
        background-color: none;
    color: white;
    column-gap: 30px;
      }
      td:hover {background-color: rgba(236, 199, 199, 0.384);}
    .adress {
        color:#fc036b;
        font-weight: 1000;
    }
    
    img {
        transition: transform .3s ease;
    }
    img:hover {
    transform: scale(1.1)
    }
    .ctn:hover {
        background: whitesmoke;
    }