*
.logo img{
    float: left;
    width: 120px;
    height: 80px;
    padding: 13px;
    margin-bottom: 50px;

    <style>
    @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,800&family=Poppins:wght@200;300&display=swap');
    </style>

*{
 margin: 0px;
padding: 0px; 
box-sizing: border-box;
font-family:"Poppins" sans-serif:
}
.main {
width : 100%;
min-height: 100vh;
background-color: #fff ;
}
.logo{
width: 80%;
display: block;
margin: auto;
padding-top: 100px;

}

 
