*
.logo img{
    float: left;
    width: 120px;
    height: 80px;
    padding: 13px;
    margin-bottom: 50px;


{ margin: 0px;
padding : Opx;
box-sizing: border-box;
} 
.main{
width: 100%:
min-height: 100vh;
background-color: #ddd;
}
 
.logo{
width: 80%:
display: block;
margin:auto;
padding-top: 100px:
}


 
}