@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-image: linear-gradient(rgba(36, 25, 25, 0.226),rgba(65, 11, 61, 0.719)),url(../images/contactus.jpg);
    background-size: cover;
    align-items: center;
    letter-spacing: 1px;
    color: white;
    margin:0px;
   overflow-x: hidden;
}
.navbar{
    
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    justify-content: space-between;
    padding: 20px; 
    color: whitesmoke;
}
ul{
    float: right;
    list-style-type: none;
    margin-top: 25px;
}
ul li{
    display: inline-block;
}
ul li a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.733);
    padding: 5px 20px;
    border: none;
    border-radius: 5px;
    transition: 0.6s ease;
}
body , html {
    overflow-x: hidden;
}
ul li a:hover{ 
    background-color: #fff;
    color: #000;
}
ul li.active a{
    background-color: #fff;
    color: #000;
}
.logo img{
    float: left;
    width: 140px;
    height: 100px;
    padding: 10px;
    margin-bottom: 50px;
    border: none;
}
.contact
{
    
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
}
.contact .content
{
    max-width:1000px;
    text-align: center;
}
.contact .content h2
{
    font-size:36px;
    font-weight:500;
    color: #fff;
    margin-top: 30px;
}
.contact .content p
{
    font-weight:300;
    color: #fff;
    margin-top: 10px;
}
.container
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
    margin-top: 30px;
}
.container .contactInfo
{
    width:50%;
    display:-moz-popup;
    flex-direction: column;
}
.container .contactInfo .box
{
    position: relative;
    padding: 20px 0;
    display: flex;
}
.container .contactInfo .box .icon
{
min-width:60px;
height: 60px;
background:#fff;
display: flex;
justify-content: center;
align-items: center;
border-radius:50%;
font-size: 22px;
}
.container .contactInfo .box .text
{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}
.container .contactInfo .box .text h3
{
    font-weight: 500;
    color:#00bcd4;
}
.contactForm
{
    width: 40%;
    padding: 40px;
    background:white;
}
.contactForm h2
{
    font-size: 30px;
    color: #333;
    font-weight:500;
}
.contactForm .inputBox
{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.contactForm .inputBox input,
.contactForm .inputBox textarea
{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}
.contactForm .inputBox span
{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}
.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span
{
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
}
.contactForm .inputBox input[type="submit"]
{
    width: 100px;
    background: #00bcd4;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}
.file {
    position: relative;
}
@media (max-width: 900px)
{
.contact
{
    padding: 50px;
}
.container
{
    flex-direction: column;
}
.container.contactInfo
{
    margin-bottom: 40px;
}
.container .contactInfo
{
    width: 100%;
}
}
img {
    transition: transform .3s ease;
}
img:hover {
transform: scale(1.1)
}
.ctn:hover {
    background: whitesmoke;
    color: #fc036b;
    box-shadow: 2px 2px 5px black;
}
