*{
    margin: 0;
    padding: 0;
}
.logo img{
    float: left;
    width: 120px;
    height: 80px;
    padding: 13px;
    margin-bottom: 50px;
}
.main{
    height:100%;
    width:100%;
    background-image: url(../images/banner.jpg);
    background-position: center;
    background-size: cover;
    position:absolute;
}