@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-image:   url('/images/img10.jpg') ;
    background-size:  cover;
    align-items: center;
    letter-spacing: 1px;
    color: white;
    margin:0px;
   overflow-x: hidden;
}

@keyframes move  {
    0%   {background-color: rgba(255, 254, 254, 0)  ;}
    25%  {background-color: rgba(255, 255, 255, 0.333)  ;}
    50%  {background-color: rgba(255, 255, 255, 0.666);}
    100% {background-color: rgb(255, 255, 255) ; }
  } 

.horizontal-gradient {
    background: linear-gradient(to right, grey,purple );
  } 




.navbar{

    position: absolute;
    top: 0;
    left: 0;
    margin-right: 60px;
    width: 100%;
    justify-content: space-between;
    padding: 20px; 
    color: whitesmoke;
}
ul{
    float: right;
    list-style-type: none;
    margin-top: 25px;
}
ul li{
    display: inline-block;
}
ul li a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.733);
    padding: 5px 20px;
    border: none;
    border-radius: 5px;
    transition: 0.6s ease;
}
body , html {
    overflow-x: hidden;
}
ul li a:hover{ 
    background-color: #fff;
    color: #000;
}
ul li.active a{
    background-color: #fff;
    color: #000;
}
.logo img{
    float: left;
    width: 140px;
    height: 100px;
    padding: 10px;
    margin-bottom: 50px;
    border: none;
}
.form-box{
    animation: move 6s infinite;
    border: 1px solid black;
    border-radius: 10px;
    width: 380px;
    height: 480px;
    position: relative;
    margin: 6% auto;
    background: #fff;
    padding: 5px;
    overflow: hidden;
}
 .button-box {
    width: 220px;
    margin: 35px auto;
    position: relative;
box-shadow: 0 0 20px 9px #ff61241f;
border-radius: 30px;
 }
 .toggle-btn{
     padding: 10px 30px;
     cursor: pointer;
     background: transparent;
     border: 0;
     outline: none;
     position: relative;
 }
 #btn{
   top: 0;
   left: 0;
   position: absolute;
   width: 110px;
   height: 100%;
   background: linear-gradient(to right, #ff105f, #ffad06);
   border-radius: 30px;
   transition: .5s;  
 }
 #social-icons{
     margin: 30px auto;
     text-align: center;
 }
 #social-icons img{
     width: 30px; 
     margin: 0 12px;
     box-shadow: 0 0 20px 0 #7f7f7f3d;
     cursor: pointer;
     border-radius: 50%;
 }
.input-group{
    top: 180px;
    position: absolute;
    width:280px;
    transition: .5s;
}
.input-field{
    width:100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}
::placeholder {
    color: rgb(0, 0, 0);
}
.submit-btn{
   width: 85%;
   padding: 10px 30px;
   cursor: pointer;
   display: block;
   margin: auto;
   text-align: center;
   color: black;
   background: linear-gradient(to right, #ff105f, #ffad06);
   border: 0;
   outline: none;
   border-radius: 30px;
}
.chech-box{
   margin: 30px 10px 30px 0;
   color: black;
}
span{
   color: #777;
   font-size: 12px;
   bottom: 68px;
   position: absolute;
}
#login {
   left: 50px;
}
#register {
   left: 450px;
}
img {
    transition: transform .3s ease;
}
img:hover {
transform: scale(1.1)
}
.ctn:hover {
    background: whitesmoke;
    color: #fc036b;
    box-shadow: 2px 2px 5px black;
}
