*
{
    margin: 0;
    padding: 0;
}
.logo img{
    float: left;
    width: 120px;
    height: 80px;
    padding: 13px;
    margin-bottom: 50px;
}
#popularquestions p::before {content: "Popular ";}
html{ 
    background-color: rgba(241, 231, 231, 0.945);
    color: rgb(0, 0, 0);
    font-family: inherit;
   
}
header{ background-image: linear-gradient(rgba(36, 25, 25, 0.226),rgba(27, 11, 65, 0.719)),url(../images/ServicesBG.jpg);
    height: 50vh;
    background-size: cover;
    background-position: center;
  
    text-align: center;
    
   }
   .Welcome{

    max-width: auto;
    margin:0 auto;
    padding-top: 90px;
    padding-bottom: 30px;
    color:rgba(250, 250, 250, 0.87);
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 20px;
    
   }
.searchbar{
  position:absolute;
  top: 30%;
  left: 50%;
  transform:translate(-50%,-50%);
  background: rgba(0, 0, 0, 0.596);
  max-width: 550px;
  width: 60%;
  padding: 13px;
  display:flex;
  justify-content: space-between;
}
.searchbar .ask_a_question {
background: #f0f0f0;
width: 75%;
padding: 15px 15px;
border: none;
font-weight: bold;
font-size: 16px;
font-family: PT Serif, sans-serif; 

}
.searchbutton {
background: #b6abab;
width: 10%;
position: relative;
cursor: pointer;
border-radius: 30px;
}
.searchbutton .fas{
    position:absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    font-size: 18px;
}
ol{
    margin-top: -40px;
    margin-bottom: 100px;
    float:center;
    list-style-type: none;
    text-align: center;
}
ol li{
    display: inline-block;
}
ol li a{
    background-color: rgba(0, 0, 0, 0.596);
    text-decoration: none;
    color:rgb(255, 255, 255);
    padding: 16px;
    transition: 0.4s ease;
    font-size: 17px;

}
ol li a:hover{
    background-color: rgba(255, 255, 255, 0.863);
    color: rgb(0, 0, 0);
}
#popularquestions{

color:rgb(29, 97, 153);
margin-left:260px;
text-align: left;
font-size: 24px;
font-family: 'Book Antiqua',sans-serif;
font-weight: bold;

text-transform:uppercase;
}


.questions {
    max-width: 1000px;
    margin: 0 auto;
    color: rgb(0, 0, 0);
    
    
  }
details summary{
      padding:15px 0;
      cursor:pointer;
      font-family: 'Poppins',sans-serif;
      font-weight: 500;
      font-size: 18px;
      font-weight: bold;
      letter-spacing: 1px;
      text-transform: uppercase;
      border-bottom: 1px solid rgb(0, 0, 0);
  }
  details p{
 font-family: Sans-serif;
 font-size: 18px;
color:#1f2021;
padding: 15px 0;
margin: 0;

  }
footer{
margin-top: 100px;
padding-bottom: 40px;
font-size: 18px;

  }
  table,th, td{
    border-right: 1px solid rgb(255, 255, 255);
    width: 30%;
    text-align: center;
    padding: 5px;
    border-spacing: 5px;
    background-color: none;
    
color: rgb(41, 41, 41);
  }
  td:hover {background-color: rgba(92, 90, 90, 0.055);}


img {
    transition: transform .3s ease;
}
img:hover {
transform: scale(1.1)
}
.ctn:hover {
    background: whitesmoke;
    color: #fc036b;
    box-shadow: 2px 2px 5px black;
    
}
#demo{
    font-family: Sans-serif;
 font-size: 18px;
color:#1f2021;
margin-left: 350px;

}
#demo1{
    margin-left: 260px;
    padding:15px 0;
    cursor:pointer;
    font-family: 'Poppins',sans-serif;
    font-weight: 500;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-bottom: 1px solid rgb(0, 0, 0);

}
#demo2{
    margin-left: 260px;
    padding:15px 0;
    cursor:pointer;
    font-family: 'Poppins',sans-serif;
    font-weight: 500;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-bottom: 1px solid rgb(168, 111, 111);
border-radius: 7px;
}


 



