*{ 
    margin: 0;
    padding: 0;
    font-family: Century Gothic;
}
header{
    background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(../images/1.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
ul{
    float: right;
    list-style-type: none;
    margin-top: 25px;
}
ul li{
    display: inline-block;
}
ul li a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.733);
    padding: 5px 20px;
    border: 1px solid rgba(255, 255, 255, 0.753);
    transition: 0.6s ease;
}
ul li a:hover{ 
    background-color: #fff;
    color: #000;
}
ul li.active a{
    background-color: #fff;
    color: #000;
}

.logo img{
    float: left;
    width: 150px;
    height: auto;

}

.main{
    max-width: 1200px;
    margin: auto;
}


.main-container{
     margin : 0;
     padding: 0;
     background : #fff;
   
}

ul{

    width:100%;
    margin :0 ;
    padding: 0;
    overflow: hidden;  
}

ul a {
background: #7f8c8d;
padding: 10px 20px;
display: block;
margin: 10px;
text-decoration: none;
float: left;
transition: 0.4s all;
color: white ;
font-size: 20px; 
     
 }



