@import url('https://fonts.googleapis.com/css2?family=Poppins');
*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px; 
    color: whitesmoke;
}
ul{
    float: right;
    list-style-type: none;
    margin-top: 25px;
}
ul li{
    display: inline-block;
}
ul li a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.733);
    padding: 5px 20px;
    border: none;
    border-radius: 5px;
    transition: 0.6s ease;
}
body , html {
    overflow-x: hidden;
}
ul li a:hover{ 
    background-color: #fff;
    color: #000;
}
ul li.active a{
    background-color: #fff;
    color: #000;
}
.logo img{
    float: left;
    width: 140px;
    height: 100px;
    padding: 10px;
    margin-bottom: 50px;
}

header{
width: 100vw;
height: 100vh;
background-image:url(../images/4.jpg);
background-position: bottom;
background-size: cover;
display: flex;
align-items: flex-end;
justify-content: center;
}
.header-content{
    margin-bottom: 150px;
    color: whitesmoke;
    text-align: center;
}
.header-content h2{
    font-size: 4vmin;
}
.line{
    width: 150px;
    height: 4px;
    background: #fc036b;
    margin: 10px auto;
    border-radius: 5px;
}
.header-content h1 {
    font-size: 7vmin;
    margin-top: 50px;
    margin-bottom: 30px;
}
.ctn {
    padding: 8px 15px;
    background: #fc036b;
    border-radius: 30px;
    color: whitesmoke;
}
section {
    width: 80%;
    margin: 80px auto;
}
.title {
    text-align: center;
    font-size: 4vmin;
    color: #49497e;
}
.row {
display: flex;
align-items: center;
width: 100%;
justify-content: space-between;
}
.row .col img {
    width: 80%;
}
.row .col {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.events .row {
    margin-top: 50px;  
}
h4 {
    font-size: 3vmin;
    color: #484872;
    margin: 20px auto;
}
p {
    color: #7c7c7c; 
    padding: 0px 40px;
    text-align: center;
}
.events .ctn {
    margin-top: 30px;
}
.offers {
width: 100%;
height: 80vh;
background-image: url("../images/1.jpg");
background-position: center;
background-size: cover;
background-repeat: no-repeat;
display: flex;
align-items: center;
}
.offers-content {
    width: 60%;
    padding: 50px;
    color: whitesmoke;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.offers-content h1 {
font-size: 7vmin;
}
.offers-content .line {
   margin-bottom: 50px; 
}
.offers-content p {
    color: rgb(221, 221, 221);
}
.offers-content .ctn {
margin-top: 40px;
}
.content-col {
    width: 40%;
}
.image-col {
 width: 60%;   
 margin-left: 180px;
}
.tours .image-gallery{
display: flex;
flex-wrap: wrap;
width: 100%;
align-items: center;
}
.image-gallery img {
max-width: 300px;
margin: 10px;
}
.content-col h1 {
font-size: 7vmin;
color: #484872;
}
.content-col .line {
    margin-left: -1px;
}
.content-col p {
    padding: 0;
    margin: 30px auto;
}
.content-col .ctn {
    margin-left: -100px;
}
.footer {
    width: 100%;
    min-height: 100px;
    padding: 20px 80px;
    margin: 0;
    background: #484872;
    text-align: center;
}
.footer p {
    color: whitesmoke;
    margin: 20px auto;
}
/* Animations */
img {
    transition: transform .3s ease;
}
img:hover {
transform: scale(1.1)
}
.ctn:hover {
    background: whitesmoke;
    color: #fc036b;
    box-shadow: 2px 2px 5px black;
}

