
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{background-image: linear-gradient(rgba(36, 25, 25, 0.226),rgba(27, 11, 65, 0.719)),url(../images/img5.jpg);
    background-size: cover;
    width: 95vw;
    height: 112vh;
    font-family: 'Roboto',sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3% 0;
    box-sizing: border-box;
}
header {
    height: 800px;
    width: 200px;
    display:inline-block;
    position: absolute;
}
.container {
    width: 80%;
    margin: 0 auto;
}
.book {
    background-color: white;
    box-shadow: 0px 5px 13px -3px rgb(33, 34, 36);
    display: flex;
    flex-wrap: wrap;
    
}
.description , .form{
    width: 40%;
    padding: 5%;
}
.description h1 {
    text-transform: uppercase;
    color:rgb(188, 70, 224);
    font-weight: 400;
    margin-top: 0;
}
.description h1 strong{
    font-weight: 700;
    color: rgb(0, 0, 0);
}
.description p {
    color:rgb(49, 49, 49);
    font-size: 14px;
    line-height: 22px;
}
.quote p {
    font-style: italic;
    padding: 2%;
    border-left: 4px solid rgb(82, 32, 122);
}
.description ul {
    padding-left: 16px;
    list-style: circle;

}
.description ul li{
    margin: 10px 0;
}




.form{
    background-color: rgb(44, 34, 51);
    background-image: linear-gradient(rgba(255, 255, 255, 0.226),rgba(139, 27, 132, 0.719)),url(../images/contactus.jpg);
    background-size: contain;
background-repeat: no-repeat; 
    
  }
 .form form{
    color:rgb(0, 0, 0);
      display: flex;
    flex-wrap: wrap;
  }
  .ticket.details {
    width: 100%;
    background: rgb(255, 255, 255);
    padding: 3%;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    cursor:pointer;
}
.details2 span::before {
    margin-left: 100px;
    
}
.details2 span {
    padding-right: 10px;
    border-right: 2px solid rgb(36, 139, 241);
}

.form select{
    border: 0;
    width: 90%;
    color:rgb(36, 139, 241)
}
form input {
    border: 0;
    border-style: hidden;
    width: 74%;
    color: rgb(36, 139, 241);
    padding: 0 4%;
}
.form select:focus, form input {
  outline: none;
}
.details2 {
    width: 42%;
    background: #fff;
    padding: 3%;
    margin-bottom: 20px;
    margin-right: 2%;
    color:gray;
    font-size: 14px;
    
}


.selecttickets{
    margin-bottom: 10px;
    padding-left: 13px;
    padding: 3px;
    border-color: rgb(240, 255, 240);
    border-style:solid;
    background-color: rgb(240, 255, 240);
    border-radius: 2px;
    outline-style: groove;
    outline-color: darkgrey;
  
}

.ticketprice{
  width: 33%;
  color: #000;
  cursor:pointer;
}
.ticketprice span{
  padding-right: 10px;
}
.ticketprice span {
    border: 0;
    text-transform: uppercase;
    font-size: 12px;
}
.form input[type="radio"] {
    width: unset;
}
button.buyticket, button.cancel{
  padding: 2% 3%;
  font-weight: 700;
  text-transform: uppercase;
  border: 0;
  border-radius: 15px;
}
button.buyticket {
    margin-right: 3%;
    background: rgb(0, 0, 0);
    color: #fff;
    cursor:pointer;

}
button:hover {
    background-color: rgb(255, 255, 255);
    color:black;
  }
button.cancel {
    background: rgb(255, 255, 255);
    color: rgb(165, 162, 162);
    cursor:pointer;
}
button.cancel:hover {
    background-color: rgb(5, 5, 5);
  }
  .svg2{
    display: flex;
    align-items: center;
    position: absolute;
    margin-top: 250px;
  }