@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: pink;
    background-size: cover;
    align-items: center;
    letter-spacing: 1px;
    color: white;
    margin:0px;
   overflow-x: hidden;
}
.navbar{
    
    position: absolute;
    top: 0;
    left: 0;
text-align: right;
    width: 100%;
    justify-content: space-between;
    padding: 20px; 
    color: pink;
}
ul{
    float: right;
    list-style-type: none;
    margin-top: 25px;
}
ul li{
    display: inline-block;
}
ul li a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.733);
    padding: 5px 20px;
    border: none;
    border-radius: 5px;
    transition: 0.6s ease;
}
body , html {
    overflow-x: hidden;
}
ul li a:hover{ 
    background-color: #fff;
    color: #000;
}
ul li.active a{
    background-color: #fff;
    color: #000;
}
.logo img{
    float: left;
    width: 140px;
    height: 100px;
    padding: 10px;
    margin-bottom: 50px;
    border: none;
}
.video {
    margin: 100px 100px 80px 20px;
    padding: 10px 100px 0 80px;
}
img {
    transition: transform .3s ease;
}
img:hover {
transform: scale(1.1)
}
datalist {
    display: none;
}